# TestReport

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**app_upload_id** | **string** |  | 
**date** | **string** |  | 
**test_type** | **string** |  | [optional] 
**platform** | **string** |  | 
**stats** | [**object**](.md) |  | 
**id** | **string** |  | 
**schema_version** | **number** |  | 
**revision** | **number** |  | 
**features** | [**array**](.md) |  | 
**finished_device_snapshots** | [**array**](.md) |  | 
**device_logs** | [**array**](.md) |  | 
**date_finished** | **string** |  | 
**error_message** | **string** |  | [optional] 
**snapshot_fatal_errors** | [**array**](.md) |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

